{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Image sharing Website </title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

	<link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse bg-primary">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"data-target="#content">
				<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
			</button>
			<a class="navbar-brand" href="#">IM-Share</a>
		</div>
		<div class="collapse navbar-collapse" id="content">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#">Link 1</a></li>
				<li><a href="#"> Link 2</a></li>
				<li><a href="#contact_Modal" data-toggle="modal"  data-target="#contact_Modal"><span class="glyphicon glyphicon-user"> Contact</span></a></li>
			</ul>
		</div>
	</div>
</nav>

{% block main %}
{% endblock main %}

{% block contact %}
{% endblock contact %}

</body>
</html>