{% extends 'base.html' %}


{% block main %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			{% if images %}
				
				{% for image in images %}
				<ul class="list-group">
				<li class="list-group-item">
				<a href="{{image.ifile.url}}" target="_blank"><h3>{{image.title}}</h3></a>
				<a href="{{image.ifile.url}}" target="_blank">
					<img class="fltr" src="{{image.ifile.url}}" alt="{{image.ifile.name}}" style="width:400px; height:auto;"> </a>
					

				<div>
					<p>Likes : <span class="num_likes"> </span> </p>
					<button class="btn btn-default btn-lg" >
						<span class="glyphicon glyphicon-arrow-up on" aria-hidden="true"></span>
					</button>
					<button class="btn btn-default btn-lg">
						<span class="glyphicon glyphicon-arrow-down on" aria-hidden="true"></span>
					</button>	
				</div>

				
				
				</li>
				</ul>
				{% endfor %}
			
			{% else %}
				<p>No Pictures</p>
			{% endif %}
		</div>
		<div class="col-md-3">
			<form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<p>{{ form.non_field_errors }}</p>

				<p>
			       {{ form.ifile.errors }}
			       {{form.title}}
			       {{form.ifilter}}
			       {{ form.ifile }}
			    </p>
			    <p>	
			    	<input type="submit" value="Upload"/>
			    </p>
			</form>
		</div>
		
	</div>
</div>
{% endblock main %}

{% block contact %}
<div class="modal fade " id="contact_Modal" >
	<div class="modal-dialog">	
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Contact</h4>
			</div>
			<div class="modal-body">
				<form action="{% url 'contact' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p>{{contact_form.non_field_errors }}</p>
					{{contact_form.name}}
					{{contact_form.email}}
					{{contact_form.content}}
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="submit" value="Send">Send</button>
			</div>
		</div>
	</div>
</div>
{% endblock contact %}